Repository ErudioProject/Erudio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JK2Kgit, @JK2K, @PatrykGor

docker drop cache for now
  .github/workflows/main.yml
  apps/erudio/backend-api/Dockerfile
Owners: @JK2Kgit, @JK2K

may work
  .dockerignore
  .github/workflows/main.yml
  Cargo.lock
  apps/erudio/backend-api/Dockerfile
Owners: @JK2Kgit, @JK2K

may work
  .github/workflows/main.yml
  apps/erudio/backend-api/Dockerfile
Owners: @JK2Kgit, @JK2K

no docker cache lest hope it works
  .github/workflows/main.yml
Owners: @JK2Kgit

shiet
  apps/erudio/backend-api/Dockerfile
Owners: @JK2K

skip docker build for now
  .github/workflows/main.yml
Owners: @JK2Kgit

fix
  .github/workflows/main.yml
Owners: @JK2Kgit

run with --release
  .github/workflows/main.yml
Owners: @JK2Kgit

unoptimalized docker
  .dockerignore
  .github/workflows/main.yml
  apps/erudio/backend-api/Dockerfile
Owners: @JK2Kgit, @JK2K

fix
  apps/erudio/backend-api/Dockerfile
Owners: @JK2K

imporve cache for docuker
  apps/erudio/backend-api/Dockerfile
Owners: @JK2K

docker layer cashing breaks
  .github/workflows/main.yml
Owners: @JK2Kgit

skip docker build for now
  .github/workflows/main.yml
Owners: @JK2Kgit

no docker cache lest hope it works
  .github/workflows/main.yml
Owners: @JK2Kgit

imporve cache for docuker
  apps/erudio/backend-api/Dockerfile
Owners: @JK2K

fix
  apps/erudio/backend-api/Dockerfile
Owners: @JK2K

may work
  .dockerignore
  .github/workflows/main.yml
  Cargo.lock
  apps/erudio/backend-api/Dockerfile
Owners: @JK2Kgit, @JK2K

docker layer cashing breaks
  .github/workflows/main.yml
Owners: @JK2Kgit

docker drop cache for now
  .github/workflows/main.yml
  apps/erudio/backend-api/Dockerfile
Owners: @JK2Kgit, @JK2K

fix
  .github/workflows/main.yml
Owners: @JK2Kgit

run with --release
  .github/workflows/main.yml
Owners: @JK2Kgit

unoptimalized docker
  .dockerignore
  .github/workflows/main.yml
  apps/erudio/backend-api/Dockerfile
Owners: @JK2Kgit, @JK2K

may work
  .github/workflows/main.yml
  apps/erudio/backend-api/Dockerfile
Owners: @JK2Kgit, @JK2K

shiet
  apps/erudio/backend-api/Dockerfile
Owners: @JK2K

.github/CODEOWNERS:

* @JK2Kgit
/apps
/shared-libs

# erudio
/apps/erudio @JK2K
/apps/erudio/frontend @PatrykGor

# libs
/shared-libs/rust @JK2K
/shared-libs/ts @PatrykGor
